use serde::\{Deserialize, Serialize};

#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(rename_all = "kebab-case")]
pub struct Config \{
    pub bind_address: String,
    pub database: DatabaseConf,
}

#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(rename_all = "kebab-case")]
pub struct DatabaseConf \{
    pub url: String,
    pub num_connections: u32,
}
