use cali_core::config::CaliConfig;
use {name}_web::config::Config;
use cali_derive::setup_server;
use std::\{error::Error, str::FromStr};
use std::sync::Arc;

#[derive(Debug, Clone)]
pub struct ServerContext \{}

#[tokio::main]
async fn main() -> Result<(), Box<dyn Error>> \{
    let server_config: CaliConfig<ServerContext, _, _> = CaliConfig::new().enable_database();
    setup_server!("{name}", "0.1.1", server_config);
    Ok(())
}
